## Version 2021/12/06 - Changelog: https://github.com/linuxserver/docker-swag/commits/master/root/defaults/nginx/server-confs/502.conf.sample

error_page 502 /502.html;
location /502.html {
    root /config/www;
    internal;
}
